// Import all styles
@import "./imports.scss";

.footer {
  width: 129.5%;
  position: relative;
  margin-top: 168px;
  padding-bottom: 28px;
  font-family: $ff2;
  border-top: 1px solid $color3;

  &__column {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__list {}

  &__img {}

  &__copyright {
    font-size: 16px;
    line-height: 20px;
    color: #c4c4c4;
    opacity: 50%;
  }

  &__number {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }

  &__authorcopy {
    margin-top: 20px;
    text-align: center;
  }

  &__authors {
    transition: $tr;
    width: 140px;
    height: 60px;
  }

  &__github {
    margin-top: 20px;
    transition: $tr;
    text-align: center;
  }

  &__button {
    transition: $tr;
    padding: 7.5px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3.5px;
    background-color: transparent;
    border: 2px solid $color3;

    &:hover {
      transition: $tr;

      a {
        color: $color3;
      }
    }

    &:active {
      transition: $tr;
      background-color: $color3;

      a {
        color: $color2;
      }
    }
  }

  &__link {
    transition: $tr;
    color: $color1;
  }


}