// Import all styles
@import "./imports.scss";

.merch {
  position: relative;
  width: 100%;
  left: 15%;
  margin-top: 206px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
    font-size: 64px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 12px;
  }

  &__dev {
    font-size: 24px;
    font-weight: 300;
    color: #e4e4e4;
    background: linear-gradient(
      to right,
      $color3 10%,
      $color1 50%,
      $color1 60%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    animation: bg-anim 3.5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__sad {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 300;
    color: #e4e4e4;
  }
}
