$color1: #e4e4e4;
$color2: #1d1e25;
$color3: #ff9466;
$color4: #345f59;
$color5: #141414;

$bd1: 1px solid red;
$bd2: 2px solid $color3;

$bgc1: #1e1e1e;

$ff1: "Mitr", sans-serif;
$ff2: "Montserrat", sans-serif;

$tr: 0.35s;
